html,
body {
  font-family: "Proxima Nova", sans-serif;
  min-height: 400px;
  color: #fff;
  background: #222635;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.global__title {
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 115%;
  font-size: calc(30px + 6 * ((100vw - 320px) / 1600));
}

.burger {
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 301;
  transform: scale(0.85);
  display: none;
}
.burger span {
  width: 40px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
  border-radius: 50px;
}
.burger-line__top {
  margin-top: -11px;
}
.burger-line__bottom {
  margin-top: 11px;
}

.burger .burger-line__bottom {
  width: 33px;
  left: 58%;
}

@media (max-width: 767px) {
  .burger {
    display: block;
  }
}
.body__window {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: none;
  left: 0;
  z-index: 777;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.7s;
}

.body__window-active {
  display: block;
}

.header {
  background: #13161f;
}
.header__row {
  padding: 35px 0;
}
.header__inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  flex: 0 0 auto;
  padding-right: 30px;
  border-right: 2px solid #222635;
}
.header__info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  font-size: 16px;
  height: 100%;
  flex-grow: 1;
  font-weight: 300;
}
.header__info p {
  margin: 3px 0;
}
.header__course {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: #525a72;
}
.header__course p {
  margin: 3px 0;
}
.header__rus {
  color: #ff8e29;
}
.header__uan {
  color: #8acd52;
}
.header__txt {
  color: #525a72;
  font-size: 14px;
  font-weight: 300;
}
.header__phone {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.header__phone p {
  margin: 3px 0;
}
.header__tel {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
.header__login-inner {
  display: flex;
  align-items: center;
  flex: 0 0 200px;
}
.header__login {
  color: #fff;
  font-size: 16px;
  margin-left: 15px;
}
.header__user-inner {
  position: relative;
}
.header__register {
  color: #fff;
  font-size: 16px;
}
.header__nav {
  height: 55px;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  transition: 0.35s;
  background: #13161f;
  position: relative;
}
.header__list {
  display: flex;
  align-items: center;
  height: 55px;
}
.header__item {
  margin: 0 54px 0 0;
  position: relative;
}
.header__link {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.25s;
  letter-spacing: 1px;
}
.header__link:hover {
  color: #ff8e29;
}
.header__list-drop {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 58px;
  left: 0;
  background: #222635;
  padding: 15px 45px 12px 27px;
  display: none;
  z-index: 4;
}
.header__item-drp:hover .header__list-drop {
  display: flex;
}
.header__item-drp:hover .header__link-drp {
  color: #ff8e29;
}
.header__link-drop {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.25s;
  letter-spacing: 1px;
}
.header__link-drop:hover {
  color: #ff8e29;
}
.header__link-drp {
  cursor: pointer;
  transition: 0.3s;
  padding: 25px 0;
}
.header__link-drp:hover {
  color: #ff8e29;
}
.header__login-reg {
  display: none;
}
.header__user-inner {
  cursor: pointer;
  padding: 5px 0;
}
.header__name {
  margin-left: 15px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}
.header__name:before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #Fff;
  right: -20px;
  top: 50%;
  margin-top: -2px;
}
.header__name:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  background: #ff8e29;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  transition: 0.25s;
}
.header__item-drop {
  margin: 12px 0;
  white-space: nowrap;
}
.header__account {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: 400;
  width: 200px;
  background: #222635;
  border-top: 3px solid #ff8e29;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px 15px 15px 30px;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in;
  transform-origin: top;
}
.header__account-link {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin: 14px 0;
  transition: 0.25s;
}
.header__account-link:hover {
  color: #ff8e29;
}

.header__account-active {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}

.header__user-inner:hover .header__name:after {
  transform: scaleX(1);
}

.footer {
  padding: 30px 0 40px 0;
  background: #13161f;
}
.footer__block {
  display: flex;
}
.footer__inner {
  width: 50%;
}
.footer__navone {
  margin-bottom: 35px;
}
.footer__nav {
  display: flex;
}
.footer__list {
  display: flex;
}
.footer__item {
  margin: 4px 0;
}
.footer__listtwo {
  flex-direction: column;
  width: 50%;
  border-bottom: 1px solid #77d444;
  padding-bottom: 15px;
}
.footer__link {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.25s;
  display: inline-block;
}
.footer__link:hover {
  color: #77d444;
}
.footer__itemone {
  margin-right: 25px;
  transition: 0.25s;
}
.footer__listthree {
  padding-top: 15px;
  flex-direction: column;
  width: 50%;
}
.footer__ps {
  color: #565b70;
  font-weight: 300;
  text-transform: uppercase;
  margin: 15px auto 0;
  display: flex;
  justify-content: center;
}
.footer__linkone:hover {
  color: #ff8e29;
}
.footer__inner-info {
  text-align: center;
  justify-content: center;
}
.footer__curse-text {
  color: #55596a;
  font-weight: 300;
  font-size: 18px;
}
.footer__curse {
  font-weight: 600;
  color: #55596a;
  font-size: 31px;
  margin: 8px 0 15px 0;
}
.footer__uan {
  color: #77d444;
}
.footer__line {
  display: flex;
  justify-content: center;
}
.footer__rus {
  color: #ff8e29;
}
.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 300;
}
.footer__box p {
  margin: 3px 5px;
}
.footer__timecity {
  display: flex;
  align-items: center;
}
.footer__timecity img {
  margin-right: 8px;
}
.footer__phone {
  font-weight: 300;
  font-size: 23px;
  color: #fff;
  margin: 25px 0 5px 0;
}
.footer__call {
  font-size: 14px;
  color: #525a72;
}
.footer__socials {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.footer__social {
  margin: 0 14px;
}
.footer__social img {
  object-fit: contain;
}

@media (max-width: 1110px) {
  .header__logo {
    padding-right: 0;
    flex: 0 0 175px;
  }
  .header__logo img {
    width: 75%;
  }
  .header__login, .header__name {
    margin-left: 0;
  }
  .header__info {
    font-size: 14px;
  }
  .header__tel {
    font-size: 20px;
    margin-top: 3px;
  }
  .header__user img {
    max-width: 79%;
  }
}
@media (max-width: 1005px) {
  .header__login,
.header__register,
.header__sl,
.header__name {
    display: none;
  }

  .header__account {
    transform: translateX(-78%) scale(0);
  }

  .header__account-active {
    transform: translateX(-78%) scale(1);
  }

  .header__login-inner {
    flex: 0 0 auto;
  }
}
@media (max-width: 930px) {
  .footer__block {
    flex-direction: column;
  }

  .footer__inner {
    width: 100%;
  }

  .footer__inner-info {
    margin-top: 30px;
  }
}
@media (max-width: 964px) {
  .header__logo {
    flex: 0 0 125px;
  }
  .header__logo img {
    width: 90%;
  }
  .header__info {
    font-size: 12px;
    padding-left: 15px;
  }
  .header__info p {
    margin: 2px 0;
  }
  .header__course {
    font-size: 15px;
  }
  .header__course p {
    margin: 1px 0;
  }
  .header__tel {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .header__nav {
    position: fixed;
    top: -700px;
    left: 0;
    width: 100vw;
    z-index: 800;
    background: #13161f;
    transition: 0.8s ease-in;
    z-index: 888;
  }

  .header__row {
    padding: 20px 0;
  }

  .header__nav-active {
    top: 0;
  }

  .header__burger-close {
    height: 60px;
    background: #13161f;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
  }
  .header__burger-close span {
    width: 22px;
    height: 22px;
    margin: 0 auto;
    position: relative;
    background-image: url(../image/svg/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 999;
  }
  .header__burger-close span:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 50px;
    width: 26px;
    height: 3px;
    background: #fff;
  }
  .header__burger-close span:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 50px;
    width: 26px;
    height: 3px;
    background: #fff;
  }

  .header__list {
    flex-direction: column;
    background: #222635;
    text-align: center;
    height: initial;
    padding-left: 0;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: -15px;
  }

  .header__phone {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
    padding-top: 25px;
    margin-top: 15px;
  }

  .header__list-drop {
    position: relative;
    padding: 0;
    top: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    transition: 0.5s ease-in;
  }

  .drop-active {
    height: 12rem;
    padding-top: 10px;
  }

  .header__item-drp:hover .header__link-drp {
    color: #fff;
  }

  .header__tel {
    font-size: 22px;
  }

  .dropItem-active {
    color: #ff8e29 !important;
  }

  .header__link-drp {
    padding: 0;
  }

  .header__item {
    padding: 18px 0;
    margin: 0;
  }

  .header__item-drop {
    margin: 7px 0;
    white-space: normal;
  }

  .footer__nav {
    display: none;
  }

  .footer__inner {
    width: 100%;
  }

  .footer__burger {
    margin: 0 auto 15px;
  }

  .footer {
    padding: 20px 0 40px 0;
  }

  .footer__inner-info {
    margin-top: 0px;
  }

  .header__account {
    transform: translateX(-61%) scale(0);
  }

  .header__account-active {
    transform: translateX(-61%) scale(1);
  }
}
@media (max-width: 577px) {
  .header__course {
    display: none;
  }

  .header__item {
    padding: 13px 0;
  }
}
@media (max-width: 460px) {
  .header__info {
    display: none;
  }

  .header__inline {
    justify-content: start;
  }

  .header__logo {
    flex: 1 0 135px;
    border: none;
  }
  .header__logo img {
    width: 135px;
  }

  .footer__line {
    flex-direction: column;
  }

  .footer__box {
    margin: 5px 0;
  }

  .footer__ps {
    text-align: center;
  }

  .footer__timecity {
    justify-content: center;
  }

  .footer__phone {
    margin: 10px 0 5px 0;
  }

  .footer__curse {
    margin: 0 0 5px 0;
  }
}
@media (min-width: 767px) {
  .nav-fixed .header__nav {
    position: fixed;
    top: 0;
    z-index: 777;
    width: 100%;
  }

  .nav-fixed header {
    margin-bottom: 50px;
  }
}
.mainslider__slider {
  position: relative;
  outline: none;
}
.mainslider__slider-item {
  position: relative;
  min-height: 590px;
  outline: none;
  padding-top: 190px;
}
.mainslider__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100vw;
}
.mainslider__bg-mob {
  display: none;
}
.mainslider__title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  max-width: 700px;
  font-size: calc(36px + 14 * ((100vw - 320px) / 1600));
  line-height: 110%;
}
.mainslider__title span {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 4px;
  font-size: calc(22px + 18 * ((100vw - 320px) / 1600));
  line-height: 1;
}
.mainslider__block {
  position: relative;
  font-weight: 300;
  padding: 18px 25px 18px 25px;
  background: rgba(120, 233, 58, 0.8);
  max-width: 440px;
  margin-top: 35px;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
}
.mainslider__block:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1px;
  height: calc(100% - 18px);
  width: 3px;
  background: #fff;
  transform: translateY(-50%);
}
.mainslider .slick-list {
  overflow: hidden;
  outline: none;
}
.mainslider .slick-track {
  display: flex;
  outline: none;
}
.mainslider .slick-dots {
  position: absolute;
  display: flex;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  display: flex;
  align-items: center;
}
.mainslider .slick-dots li {
  width: 13px;
  height: 13px;
  background: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
  border-radius: 50%;
  margin: 0 8px;
  outline: none;
}
.mainslider .slick-dots li.slick-active {
  border: 3px solid #77d444;
  width: 16px;
  height: 16px;
}
.mainslider .slick-dots li button {
  background: none;
}

.category {
  padding-top: 120px;
  padding-bottom: 50px;
}
.category__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.category__inner {
  width: 33.33333%;
  padding-right: 30px;
}
.category__subtitle {
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
  font-size: calc(20px + 4 * ((100vw - 320px) / 1600));
}
.category__link {
  display: inline;
  color: #ff8e29;
  font-weight: 300;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: underline;
  line-height: 19px;
}
.category__link:hover {
  text-decoration: none;
}
.category__sl {
  white-space: pre;
}

.help {
  padding-top: 70px;
}
.help__box {
  display: flex;
  flex-direction: column;
  margin: 0 17px;
}
.help__text {
  margin-top: 25px;
  font-weight: 300;
  opacity: 0.7;
  max-width: 527px;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
}
.help__wrapper {
  margin: 40px -17px 0;
}
.help__wrapper .slick-list {
  outline: none;
}
.help__wrapper .slick-track {
  display: flex;
  outline: none;
}
.help__wrapper .slick-dots {
  position: absolute;
  display: flex;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  display: flex;
  align-items: center;
}
.help__wrapper .slick-dots li {
  width: 13px;
  height: 13px;
  background: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
  border-radius: 50%;
  margin: 0 8px;
  outline: none;
}
.help__wrapper .slick-dots li.slick-active {
  border: 3px solid #77d444;
  width: 16px;
  height: 16px;
}
.help__wrapper .slick-dots li button {
  background: none;
}
.help__inner {
  min-height: 240px;
  position: relative;
  margin: 17px 0;
  box-shadow: 0px 27px 24px -15px rgba(8, 5, 36, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.help__inner:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  height: 99%;
  width: 5px;
  background: #ff8e29;
  z-index: 5;
  transition: 0.3s ease-in-out;
  border-radius: 17px 0 0 17px;
  transform: translateY(-50%) scaleY(0);
  opacity: 0;
}
.help__inner:hover:before {
  transform: translateY(-50%) scaleY(1);
  opacity: 1;
}
.help__inner:hover .help__subtitle {
  transform: translateY(-40px);
}
.help__inner:hover .help__arrow {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 20%);
}
.help__image-bg {
  position: absolute;
  top: 0;
  border-radius: 6px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.help__subtitle {
  position: relative;
  z-index: 3;
  max-width: 170px;
  margin: 0 auto;
  text-align: center;
  transition: 0.4s ease-in-out;
  font-size: 22px;
  color: #fff;
  line-height: 135%;
  font-weight: 400;
}
.help__arrow {
  position: relative;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.staps {
  padding-top: 120px;
}
.staps__text {
  margin-top: 25px;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  font-weight: 300;
  opacity: 0.7;
  max-width: 527px;
}
.staps__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.staps__inner {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #31374d;
  border-radius: 7px;
  box-shadow: 0px 27px 24px -15px rgba(13, 29, 61, 0.51);
}
.staps__one {
  width: 58%;
  padding: 40px 45px 45px 40px;
  position: relative;
}
.staps__one:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  height: 99%;
  width: 4px;
  background: #8acd52;
  z-index: 5;
  transition: 0.3s ease-in-out;
  border-radius: 17px 0 0 17px;
  transform: translateY(-50%);
}
.staps__subtitle {
  font-weight: 400;
  font-size: calc(24px + 6 * ((100vw - 320px) / 1600));
  position: relative;
  z-index: 4;
  letter-spacing: 1px;
}
.staps__txt {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  margin-top: 25px;
}
.staps__form {
  display: flex;
  background: #fff;
  border-radius: 5px;
  margin: 17px 0 10px 0;
}
.staps__email {
  background: #fff;
  height: 50px;
  flex-grow: 1;
  border-radius: 5px 0 0 5px;
  padding-left: 20px;
  padding-right: 30px;
}
.staps__btn {
  height: 50px;
  background: #8acd52;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
  padding: 5px 30px;
}
.staps__btn:hover {
  background: #68a138;
}
.staps__line {
  display: flex;
}
.staps__ps {
  font-weight: 300;
  font-size: 16px;
  color: #b2b2b2;
}
.staps__login {
  color: #77d444;
  font-size: 16px;
  margin-left: 5px;
  transition: 0.25s;
  font-weight: 300;
}
.staps__login:hover {
  color: #68a138;
}
.staps__nomber {
  position: absolute;
  top: 30px;
  right: 40px;
  font-weight: 700;
  font-size: 60px;
  color: #000;
  opacity: 0.2;
  z-index: 3;
}
.staps__two {
  width: 23%;
  padding: 50px 40px 50px 40px;
}
.staps__two .staps__nomber {
  right: 20px;
}
.staps__pay {
  position: relative;
  z-index: 3;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}
.staps__sber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0.15;
}
.staps__ok {
  width: 50px;
  height: 50px;
  margin: 10px auto 13px;
  position: relative;
  z-index: 4;
}
.staps__three {
  width: 15%;
  padding: 30px 30px 30px 30px;
}
.staps__three .staps__nomber {
  right: 20px;
  opacity: 0.2;
}

.partners {
  text-align: center;
  padding-top: 125px;
}
.partners__title {
  max-width: 850px;
  margin: 0 auto;
}
.partners__subtitle {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  font-weight: 300;
  max-width: 850px;
  margin: 20px auto 0;
}
.partners__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.partners__inner {
  width: 23.7%;
}
.partners__inner-img {
  position: relative;
  background: #2b2f40;
  border-radius: 7px;
  height: 270px;
}
.partners__inner-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: fill;
  max-width: 80%;
}
.partners__name {
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  color: #ff8e29;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 400;
}
.partners__text {
  max-width: 980px;
  margin: 40px auto 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}
.partners__map {
  margin-top: 100px;
}
.partners__map-mob {
  display: none;
}

.stages {
  margin-top: 110px;
  padding-bottom: 60px;
}
.stages__wrapper {
  display: flex;
}
.stages__wrapper .stages__block:last-child .stages__inline:before {
  display: none;
}
.stages__inner-img {
  width: 450px;
  height: 782px;
}
.stages__inner-img img {
  border-radius: 7px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.stages__nomber1 {
  padding: 2px 1px 0 0;
}
.stages__nomber2 {
  padding: 2px 0px 0 1px;
}
.stages__nomber3 {
  padding: 2px 0px 0 2px;
}
.stages__nomber4 {
  padding: 1px 3px 0 0px;
}
.stages__nomber5 {
  padding: 2px 0px 0 1px;
}
.stages__inner {
  margin-left: 55px;
  margin-top: 55px;
}
.stages__title {
  max-width: 470px;
  margin-bottom: 50px;
}
.stages__block {
  display: flex;
  margin: 40px 0;
}
.stages__inline {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  position: relative;
}
.stages__inline:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  bottom: -4px;
  left: 50%;
  transform: translateY(100%);
}
.stages__nomber {
  color: rgba(255, 255, 255, 0.2);
  font-size: 36px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stages__nomber:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%);
}
.stages__stage {
  color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
}
.stages__block-active .stages__nomber,
.stages__block-active .stages__stage {
  color: #8acd52;
}
.stages__block-active .stages__nomber:before {
  border: 1px solid #8acd52;
}
.stages__block-active .stages__inline:before {
  background: #8acd52;
}
.stages__mintitle {
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  font-weight: 400;
}
.stages__submintitle {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  margin-top: 10px;
}

.taobao__wrapper {
  background-image: url(../image/bg-trigers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0px 140px 0px;
  border-radius: 7px;
}
.taobao__inner {
  display: flex;
  padding: 0 40px;
}
.taobao__logo {
  flex-shrink: 0;
  margin-right: 35px;
}
.taobao__text {
  font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
  font-weight: 300;
  line-height: 115%;
}
.taobao__partners {
  display: flex;
  text-align: center;
}
.taobao__partner {
  text-transform: uppercase;
  font-size: calc(17px + 3 * ((100vw - 320px) / 1600));
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 85px;
  width: 33%;
}
.taobao__trigers {
  transform: translateY(-100px);
}
.taobao__trigers .slick-list {
  overflow: hidden;
  outline: none;
}
.taobao__trigers .slick-track {
  display: flex;
  outline: none;
}
.taobao__trigers .slick-dots {
  position: absolute;
  display: flex;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  display: flex;
  align-items: center;
}
.taobao__trigers .slick-dots li {
  width: 13px;
  height: 13px;
  background: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
  border-radius: 50%;
  margin: 0 8px;
  outline: none;
}
.taobao__trigers .slick-dots li.slick-active {
  border: 3px solid #77d444;
  width: 16px;
  height: 16px;
}
.taobao__trigers .slick-dots li button {
  background: none;
}
.taobao__triger {
  outline: none;
  margin: 0 25px;
}
.taobao__block {
  background: #2b2f40;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #Fff;
  padding: 25px 25px 10px 25px;
  text-align: center;
}
.taobao__title {
  font-size: calc(19px + 1 * ((100vw - 320px) / 1600));
  color: #8acd52;
  text-transform: uppercase;
  margin-top: 15px;
  letter-spacing: 1px;
  line-height: 115%;
  max-width: 236px;
}
.taobao__info {
  font-weight: 300;
  font-size: 18px;
  line-height: 115%;
  margin-top: 15px;
}

.reviews__item {
  outline: none;
  background: #31374d;
  margin: 0 2% 0 0;
  padding: 30px 30px 40px 30px;
  border-radius: 7px;
  box-shadow: 0px 27px 24px -15px rgba(13, 29, 61, 0.51);
}
.reviews__list {
  display: flex;
  margin-top: 60px;
  position: relative;
  flex-direction: column;
}
.reviews__list .reviews__item:last-child {
  margin: 0;
}
.reviews__list .slick-list {
  outline: none;
}
.reviews__list .slick-track {
  display: flex;
  outline: none;
  justify-content: space-between;
}
.reviews__list .slick-dots {
  position: absolute;
  display: flex;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  display: flex;
  align-items: center;
}
.reviews__list .slick-dots li {
  width: 13px;
  height: 13px;
  background: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
  border-radius: 50%;
  margin: 0 8px;
  outline: none;
}
.reviews__list .slick-dots li.slick-active {
  border: 3px solid #77d444;
  width: 16px;
  height: 16px;
}
.reviews__list .slick-dots li button {
  background: none;
}
.reviews__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
}
.reviews__name {
  font-size: calc(17px + 1 * ((100vw - 320px) / 1600));
  font-weight: 600;
}
.reviews__date {
  font-size: 14px;
  font-weight: 600;
}
.reviews__inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: 8px 0;
}
.reviews__inner img {
  width: 17px;
  height: 17px;
  margin: 0 4px 0 0;
}
.reviews__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reviews__text {
  font-size: 14px;
  line-height: 130%;
}
.reviews__subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
}
.reviews__stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 20px 0;
}
.reviews__stars[data-total-value="1"] .reviews__star:nth-child(n+5) svg path, .reviews__stars[data-total-value="2"] .reviews__star:nth-child(n+4) svg path, .reviews__stars[data-total-value="3"] .reviews__star:nth-child(n+3) svg path, .reviews__stars[data-total-value="4"] .reviews__star:nth-child(n+2) svg path, .reviews__stars[data-total-value="5"] .reviews__star:nth-child(n+1) svg path {
  fill: #ff8e29;
}
.reviews__inner[data-total-value="1"] .reviews__star-rev:nth-child(n+5) svg path, .reviews__inner[data-total-value="2"] .reviews__star-rev:nth-child(n+4) svg path, .reviews__inner[data-total-value="3"] .reviews__star-rev:nth-child(n+3) svg path, .reviews__inner[data-total-value="4"] .reviews__star-rev:nth-child(n+2) svg path, .reviews__inner[data-total-value="5"] .reviews__star-rev:nth-child(n+1) svg path {
  fill: #ff8e29;
}
.reviews__star-revsvg {
  width: 15px;
  height: 15px;
  margin: 0 2px;
}
.reviews__star {
  margin: 0 4px;
}
.reviews__star:hover ~ .reviews__star svg path {
  fill: #525c75;
}
.reviews__star-svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.reviews__star-svg path {
  fill: #272d3d;
  transition: 0.15s;
}
.reviews__star-svg:hover path {
  fill: #525c75;
}
.reviews__btn {
  background: #8acd52;
  width: 175px;
  padding: 10px 15px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;
  transition: 0.25s;
}
.reviews__btn:hover {
  background: #68a138;
}

.main__flex {
  display: flex;
  justify-content: space-between;
}

.main__viewall {
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-right: 25px;
  transition: 0.25s;
  position: relative;
}
.main__viewall:hover {
  color: #8acd52;
}
.main__viewall:before {
  position: absolute;
  content: "";
  right: 0;
  top: 47%;
  width: 15px;
  height: 3px;
  background: #8acd52;
  transform: translateY(-160%) rotate(45deg);
}
.main__viewall:after {
  position: absolute;
  content: "";
  right: 0;
  top: 47%;
  width: 15px;
  height: 3px;
  background: #8acd52;
  transform: translateY(110%) rotate(-45deg);
}

.hits {
  margin-top: 120px;
  padding-bottom: 100px;
}
.hits__link {
  position: relative;
  width: 100%;
  height: 100%;
}
.hits__title {
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}
.hits__title:Before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #77d444;
}
.hits__list {
  margin: 35px -15px 0;
  position: relative;
}
.hits__list .slick-list {
  outline: none;
  overflow: hidden;
}
.hits__list .slick-track {
  display: flex;
  overflow: hidden;
  outline: none;
}
.hits__list .slick-dots {
  position: absolute;
  display: flex;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  display: flex;
  align-items: center;
}
.hits__list .slick-dots li {
  width: 10px;
  height: 10px;
  background: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
  border-radius: 50%;
  margin: 0 8px;
  outline: none;
}
.hits__list .slick-dots li.slick-active {
  border: 3px solid #77d444;
  width: 15px;
  height: 15px;
}
.hits__list .slick-dots li button {
  background: none;
}
.hits__list .slick-arrow {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  background: none;
  height: 15px;
  cursor: pointer;
}
.hits__list .slick-arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 3px;
  background: #8acd52;
  transform: translate(-50%, -150%) rotate(45deg);
}
.hits__list .slick-arrow:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 3px;
  background: #8acd52;
  transform: translate(-50%, 50%) rotate(-45deg);
}
.hits__list .slick-arrow.slick-prev {
  margin-left: -85px;
  transform: translateX(-50%) rotate(180deg);
  bottom: -52px;
}
.hits__list .slick-arrow.slick-disabled {
  opacity: 0.5;
}
.hits__list .slick-arrow.slick-next {
  margin-left: 85px;
  bottom: -50px;
}
.hits__item {
  width: 100%;
  height: 100%;
  outline: none;
  position: relative;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 15px;
}
.hits__img-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
.hits__wrapper {
  display: flex;
  background: rgba(43, 47, 64, 0.85);
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hits__text {
  font-size: 21px;
  font-weight: 600;
  color: #Fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-left: 10px;
  height: 62px;
}
.hits__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 5px;
}
.hits__inner img {
  object-fit: contain;
  position: relative;
  z-index: 3;
  cursor: pointer;
  margin: 3px 0;
}

.bell {
  background-image: url(../image/bg-bell.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  color: #fff;
  margin-top: 70px;
  margin-bottom: 120px;
  background-position: center;
  text-align: center;
}
.bell__title {
  font-size: calc(30px + 6 * ((100vw - 320px) / 1600));
  font-weight: 600;
  letter-spacing: 1px;
  max-width: 660px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 100px;
  line-height: 115%;
}
.bell__text {
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  max-width: 660px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 40px;
}
.bell__btn {
  background: #Fff;
  width: 260px;
  height: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  transform: scale(0);
  opacity: 0;
  transition: 0.25s;
  z-index: 999;
}
.popup__title {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  letter-spacing: 1px;
  padding-bottom: 20px;
  padding-right: 30px;
  line-height: 100%;
}
.popup__form {
  display: flex;
  flex-direction: column;
  line-height: 120%;
  text-align: left;
  width: 670px;
  margin: 0 auto;
  padding: 0 15px;
  position: fixed;
  top: 50%;
  border-radius: 7px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #31374d;
  opacity: 0;
  padding: 45px 40px;
  transition: 0.7s ease-in-out;
}
.popup__subtitle {
  font-size: 18px;
  padding-bottom: 15px;
  color: #fff;
  line-height: 115%;
}
.popup__wrapper {
  display: flex;
  justify-content: space-between;
  background: #Fff;
  border-radius: 7px;
  height: 50px;
  border: none;
}
.popup__phone {
  border-radius: 7px;
  padding-left: 25px;
  width: 100%;
  padding-right: 25px;
  height: 50px;
}
.popup__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #77d444;
  color: #fff;
  font-weight: 600;
  transition: 0.25s;
  cursor: pointer;
}
.popup__btn:hover {
  background: #68a138;
}
.popup__close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.popup__close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.popup__close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background: #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-active {
  transform: scale(1);
  opacity: 1;
}
.popup-active .popup__form {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.news {
  padding-bottom: 160px;
}
.news__link {
  width: 100%;
  height: 100%;
  position: relative;
}
.news__title {
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}
.news__title:Before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #77d444;
}
.news__list {
  margin: 35px -15px 0;
  position: relative;
}
.news__list .slick-list {
  outline: none;
  overflow: hidden;
}
.news__list .slick-track {
  display: flex;
  overflow: hidden;
  outline: none;
}
.news__list .slick-dots {
  position: absolute;
  display: flex;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  display: flex;
  align-items: center;
}
.news__list .slick-dots li {
  width: 10px;
  height: 10px;
  background: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
  border-radius: 50%;
  margin: 0 8px;
  outline: none;
}
.news__list .slick-dots li.slick-active {
  border: 3px solid #77d444;
  width: 15px;
  height: 15px;
}
.news__list .slick-dots li button {
  background: none;
}
.news__list .slick-arrow {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  background: none;
  height: 15px;
  cursor: pointer;
}
.news__list .slick-arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 3px;
  background: #8acd52;
  transform: translate(-50%, -150%) rotate(45deg);
}
.news__list .slick-arrow:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 3px;
  background: #8acd52;
  transform: translate(-50%, 50%) rotate(-45deg);
}
.news__list .slick-arrow.slick-prev {
  margin-left: -85px;
  transform: translateX(-50%) rotate(180deg);
  bottom: -52px;
}
.news__list .slick-arrow.slick-disabled {
  opacity: 0.5;
}
.news__list .slick-arrow.slick-next {
  margin-left: 85px;
  bottom: -50px;
}
.news__item {
  width: 100%;
  height: 100%;
  outline: none;
  position: relative;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 15px;
}
.news__img-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
.news__wrapper {
  display: flex;
  background: rgba(43, 47, 64, 0.9);
  padding: 20px 15px;
  flex-direction: column;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
}
.news__text {
  font-size: 17px;
  font-weight: 400;
  color: #Fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-top: 5px;
}
.news__mintitle {
  font-weight: 600;
  font-size: 22px;
  color: #fff;
}
.news__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.news__date {
  font-weight: 300;
  font-size: 18px;
  color: #ff8e29;
}
.news__next {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #8acd52;
  letter-spacing: 1px;
  position: relative;
  padding-right: 17px;
}
.news__next:before {
  content: "";
  position: absolute;
  top: 43%;
  right: 0;
  width: 8px;
  height: 2px;
  background: #8acd52;
  transform: translate(-50%, -180%) rotate(45deg);
}
.news__next:after {
  content: "";
  position: absolute;
  top: 43%;
  right: 0;
  width: 8px;
  height: 2px;
  background: #8acd52;
  transform: translate(-50%, 50%) rotate(-45deg);
}

@media (max-width: 1450px) {
  .mainslider__slider-item {
    min-height: 500px;
    padding-top: 128px;
  }
}
@media (max-width: 1110px) {
  .staps__one {
    width: 52%;
  }

  .staps__two {
    width: 27%;
  }

  .staps__three {
    width: 18%;
  }

  .partners__inner-img {
    height: 240px;
    object-fit: contain;
  }

  .help__wrapper {
    margin: 40px -10px 0;
  }

  .help__inner {
    margin: 10px 0;
  }

  .help__box {
    margin: 0 10px;
  }

  .staps {
    padding-top: 90px;
  }
}
@media (max-width: 970px) {
  .help__box {
    flex-direction: row;
  }

  .help__box {
    margin: 0;
  }

  .help__wrapper {
    margin: 40px -7px 0;
  }

  .help__inner {
    width: 50%;
    margin: 0 7px;
  }

  .help__wrapper {
    position: relative;
  }
}
@media (max-width: 957px) {
  .staps__one {
    width: 48%;
  }

  .staps__two {
    width: 27%;
  }

  .staps__three {
    width: 21%;
  }

  .taobao__triger {
    margin: 0 15px;
  }

  .reviews__item {
    margin: 0 15px;
  }

  .reviews__list .reviews__item:last-child {
    margin: 0 15px;
  }

  .main__viewall {
    display: none;
  }
}
@media (max-width: 935px) {
  .staps__wrapper {
    flex-wrap: wrap;
  }

  .staps__one {
    width: 100%;
  }

  .staps__two {
    width: 58%;
  }

  .staps__three {
    width: 39%;
  }

  .staps__inner {
    margin: 10px 0;
  }

  .staps__ok {
    margin: 5px;
  }
}
@media (max-width: 900px) {
  .help__inner {
    margin: 0 5px;
  }

  .stages__inner {
    margin-left: 30px;
  }
}
@media (max-width: 800px) {
  .taobao__trigers .slick-list {
    overflow: visible;
  }

  .taobao__triger {
    margin: 0 4px;
  }

  .taobao__trigers .slick-dots {
    bottom: -30px;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  .taobao__trigers .slick-dots li.slick-active {
    border: 2px solid #77d444;
  }

  .taobao__partners {
    display: none;
  }
}
@media (max-width: 780px) {
  .hits__list .slick-arrow.slick-next {
    margin-left: 115px;
  }

  .hits__list .slick-arrow.slick-prev {
    margin-left: -115px;
    bottom: -51px;
  }
}
@media (max-width: 767px) {
  .mainslider__slider-item {
    min-height: 450px;
    padding-top: 100px;
  }

  .mainslider__bg-desc {
    display: none;
  }

  .mainslider__bg-mob {
    display: block;
  }

  .mainslider__block {
    margin-right: 30px;
  }

  .category {
    padding-top: 80px;
  }

  .category__wrapper {
    margin-top: 35px;
  }

  .partners__wrapper {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .partners__inner {
    width: 49%;
    margin: 20px 0;
  }

  .partners__inner-img4 img {
    width: 190px;
  }

  .partners__inner-img {
    height: 220px;
  }
}
@media (max-width: 700px) {
  .stages__inner-img {
    display: none;
  }

  .stages__block {
    margin: 40px 13px;
  }

  .stages {
    margin-top: 60px;
  }

  .reviews__item {
    padding: 15px 15px 20px 15px;
  }

  .hits__item {
    margin: 0 5px;
  }

  .hits__list .slick-track,
.hits__list .slick-list {
    overflow: visible;
  }

  .hits__list {
    margin: 35px -5px 0;
  }

  .hits__text {
    padding-left: 0;
  }

  .popup__form {
    width: 95%;
    padding: 30px 25px;
  }

  .popup__title {
    font-size: 25px;
    padding-right: 30px;
  }

  .popup__phone {
    padding: 0 0 0 10px;
  }
}
@media (max-width: 650px) {
  .taobao__inner {
    flex-direction: column;
  }

  .taobao__logo {
    margin: 0 auto 15px;
  }

  .bell__title {
    padding-top: 65px;
  }

  .bell {
    padding-bottom: 65px;
    margin-bottom: 90px;
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .staps__subtitle {
    margin-right: 80px;
  }

  .staps__txt {
    margin-top: 18px;
  }

  .partners__map-mob {
    display: block;
    margin: 0 auto;
  }

  .partners__map {
    margin-top: 50px;
  }

  .partners__map-desc {
    display: none;
  }

  .reviews__item {
    margin: 0 10px 0 0;
  }

  .reviews__list .reviews__item:last-child {
    margin: 0;
  }

  .popup__wrapper {
    flex-direction: column;
    background: none;
    height: initial;
  }

  .popup__btn {
    margin-top: 10px;
    width: 100%;
  }
}
@media (max-width: 570px) {
  .news__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .news__next {
    margin-top: 5px;
  }

  .news__item {
    margin: 0 7px;
  }

  .news__list {
    margin: 35px -7px 0;
  }
}
@media (max-width: 540px) {
  .mainslider__block {
    margin-top: 20px;
  }

  .category__wrapper {
    flex-direction: column;
    margin-top: 0;
  }

  .category__inner {
    width: 100%;
  }

  .category__subtitle {
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .partners__inner {
    width: 100%;
    margin: 15px 0;
  }
}
@media (max-width: 487px) {
  .staps__inner {
    width: 100%;
    text-align: center;
  }

  .staps__subtitle {
    margin-right: 0;
  }

  .staps__form {
    flex-direction: column;
    background: none;
  }

  .staps__email {
    border-radius: 5px;
  }

  .staps__btn {
    margin-top: 15px;
  }

  .staps__ok {
    margin: 5px auto;
  }

  .staps__one {
    padding: 30px;
  }

  .staps__text {
    margin-top: 10px;
  }

  .staps__wrapper {
    margin-top: 30px;
  }

  .stages__nomber {
    color: #fff;
    position: relative;
    z-index: 5;
    font-size: 23px;
    font-weight: 600;
  }

  .stages__nomber:before {
    background: #8acd52;
    z-index: -1;
    width: 38px;
    height: 38px;
  }

  .stages__inner {
    margin-left: 0;
    margin-top: 40px;
  }

  .stages__mintitle {
    line-height: 120%;
  }

  .stages__inline {
    margin-right: 28px;
  }

  .stages__submintitle {
    line-height: 120%;
  }

  .stages__inline:before {
    display: none;
  }

  .stages__stage {
    display: none;
  }

  .stages__block-active .stages__nomber {
    color: #fff;
  }

  .stages__block {
    margin: 36px 13px;
  }

  .taobao__inner {
    padding: 0 20px;
  }
}
@media (max-width: 450px) {
  .news__inner {
    flex-direction: row;
  }

  .news__next {
    margin-top: 0;
  }
}
@media (max-width: 400px) {
  .staps__line {
    flex-direction: column;
  }

  .partners__title,
.partners__subtitle,
.partners__text {
    text-align: left;
  }
}
@media (max-width: 330px) {
  .mainslider__title {
    max-width: 243px;
  }
}
/*# sourceMappingURL=main.css.map */